<div *ngIf="board$ | async as board" class="h-full w-full overflow-hidden flex flex-col">
  <vex-secondary-toolbar current="Ilef Board">
    <button (click)="toggleStar(board)" class="-ml-2" mat-icon-button type="button">
      <mat-icon *ngIf="board.starred" class="text-amber-600" svgIcon="mat:star"></mat-icon>
      <mat-icon *ngIf="!board.starred" svgIcon="mat:star_border"></mat-icon>
    </button>

    <div *ngIf="(scrumboardUsers?.length ?? 0) > 0" class="flex-auto flex items-center justify-end">
      <img *ngFor="let user of scrumboardUsers" [matTooltip]="user.name" [src]="user.imageSrc"
        class="avatar overlapping" />
    </div>
  </vex-secondary-toolbar>

  <div (cdkDropListDropped)="dropList($event)" @stagger [cdkDropListData]="board.children"
    [class.container]="isVerticalLayout$ | async" cdkDropList cdkDropListOrientation="horizontal"
    class="p-6 min-h-0 overflow-x-auto flex-auto flex items-start gap-6">
    <div *ngFor="let list of board.children; trackBy: trackById" @fadeInUp [cdkDragData]="list" cdkDrag cdkDropListGroup
      class="rounded bg-app-bar dark:bg-base dark:border overflow-hidden max-h-full w-full max-w-2xs flex-none flex flex-col">
      <div cdkDragHandle class="p-4 cursor-pointer flex-none">
        <h2 class="subheading-2 font-medium m-0 select-none flex-none">
          {{ list.label }}
        </h2>
      </div>

      <vex-scrollbar class="flex-auto">
        <div (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="getConnectedList(board)"
          [cdkDropListData]="list.children" cdkDropList class="px-4 pb-4" id="{{ list.id }}">
          <div (click)="open(board, list, card)" *ngFor="let card of list.children; trackBy: trackById"
            [cdkDragData]="card" cdkDrag class="scrumboard-card card w-full cursor-pointer overflow-hidden select-none">
            <div *ngIf="card.cover" class="w-full h-40 overflow-hidden">
              <img [src]="card.cover.path" class="object-cover w-full h-full" />
            </div>

            <div class="p-4">
              <div *ngIf="(card.labels?.length ?? 0) > 0" class="mb-2 flex gap-2">
                <div *ngFor="let label of card.labels" [ngClass]="label.bgClass" class="label flex-1"></div>
              </div>

              <h3 class="body-2 m-0 select-none">{{ card.title }}</h3>

              <div *ngIf="
                  card.dueDate ||
                  (card.comments?.length ?? 0) > 0 ||
                  (card.attachments?.length ?? 0) > 0 ||
                  (card.users?.length ?? 0) > 0
                " class="mt-2 flex gap-2">
                <div *ngIf="card.dueDate" [ngClass]="{
                    'bg-green-600 text-white': card.dueDate.done,
                    'bg-app-bar text-secondary': !card.dueDate.done
                  }" class="box rounded caption">
                  <mat-icon class="icon-xs" svgIcon="mat:notifications"></mat-icon>
                  <span class="box-text">{{
                    card.dueDate.date | vexDateFormatTokens: "MMM, dd"
                    }}</span>
                </div>

                <div *ngIf="(card.comments?.length ?? 0) > 0" class="box bg-app-bar text-secondary rounded caption">
                  <mat-icon class="ml-1 icon-xs" svgIcon="mat:insert_comment"></mat-icon>
                  <span class="box-text">{{ card.comments?.length }}</span>
                </div>

                <div *ngIf="(card.attachments?.length ?? 0) > 0" class="box bg-app-bar text-secondary rounded caption">
                  <mat-icon class="icon-xs" svgIcon="mat:attach_file"></mat-icon>
                  <span class="box-text">{{ card.attachments?.length }}</span>
                </div>

                <div *ngIf="(card.users?.length ?? 0) > 0" class="flex-1 flex items-center justify-end">
                  <img *ngFor="let user of card.users" [matTooltip]="user.name" [src]="user.imageSrc"
                    class="avatar overlapping" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </vex-scrollbar>

      <div #addCardOriginRef class="bg-hover flex-none">
        <ng-template #addCardTemplate let-close="close">
          <div class="card px-4 py-6">
            <form (ngSubmit)="createCard(list, close)" [formGroup]="addCardForm">
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Card Title</mat-label>
                <input formControlName="title" matInput placeholder="Enter your title..." />
                <button color="primary" mat-icon-button matIconSuffix type="submit">
                  <mat-icon svgIcon="mat:add"></mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
        </ng-template>

        <button (click)="openAddCard(list, addCardTemplate, addCardOriginRef)" class="w-full" mat-button type="button">
          <mat-icon class="mr-1 -ml-1" svgIcon="mat:add"></mat-icon>
          <span>ADD CARD</span>
        </button>
      </div>
    </div>

    <div #addListOriginRef class="w-full max-w-2xs rounded bg-app-bar flex-none">
      <ng-template #addListTemplate let-close="close">
        <div class="card px-4 pt-3 pb-2">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>List Title</mat-label>
            <input [formControl]="addListCtrl" matInput placeholder="Enter your title..." />
          </mat-form-field>

          <div class="mt-3 flex items-center justify-between">
            <button (click)="close()" class="text-secondary w-8 h-8 leading-none" mat-icon-button type="button">
              <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
            </button>
            <button (click)="createList(board, close)" color="primary" mat-button type="button">
              Create
            </button>
          </div>
        </div>
      </ng-template>

      <button (click)="openAddList(board, addListTemplate, addListOriginRef)" class="w-full" mat-button type="button">
        <mat-icon class="mr-1 -ml-1" svgIcon="mat:add"></mat-icon>
        <span>ADD LIST</span>
      </button>
    </div>
  </div>
</div>