<vex-page-layout>
    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-6]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h1 class="title mt-0 mb-1">Instances</h1>
                <vex-breadcrumbs [crumbs]="['Apps', 'Instances']"></vex-breadcrumbs>
            </div>

            <div class="hidden sm:block">
                <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
                    <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
                    <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-6]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
                <h2
                    class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
                    <span *ngIf="selection.isEmpty()"></span>
                    <span *ngIf="selection.hasValue()">{{ selection.selected.length }} Instances<span
                            *ngIf="selection.selected.length > 1">s</span>
                        selected</span>
                </h2>

                <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
                    <button (click)="deleteInstances(selection.selected)" color="primary" mat-icon-button
                        matTooltip="Delete selected" type="button">
                        <mat-icon svgIcon="mat:delete"></mat-icon>
                    </button>

                    <button color="primary" mat-icon-button matTooltip="Another action" type="button">
                        <mat-icon svgIcon="mat:folder"></mat-icon>
                    </button>
                </div>

                <mat-form-field subscriptSizing="dynamic">
                    <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
                    <input matInput [formControl]="searchCtrl" placeholder="Search&hellip;" type="text" />
                </mat-form-field>

                <span class="flex-1"></span>

                <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
                    matTooltip="Filter Columns" type="button">
                    <mat-icon svgIcon="mat:filter_list"></mat-icon>
                </button>

                <button (click)="fetchInstances()" class="ml-4 flex-none" color="primary" mat-mini-fab
                    matTooltip="Refresh" type="button">
                    <mat-icon svgIcon="mat:refresh"></mat-icon>
                </button>
                <button (click)="createInstance()" class="ml-4 flex-none" color="primary" mat-mini-fab
                    matTooltip="Add Instance" type="button">
                    <mat-icon svgIcon="mat:add"></mat-icon>
                </button>
            </div>
            <div *ngIf="loading" class="flex justify-center items-center p-8">
                <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
            </div>
            <div *ngIf="instances.length === 0 && !loading" class="p-4 text-center">
                <p>Nothing to show...</p>
            </div>

            <table *ngIf="instances.length && !loading" @stagger [dataSource]="dataSource" class="w-full" mat-table
                matSort>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef mat-header-cell>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                        </mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="w-4" mat-cell>
                        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                            (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>


                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                    <ng-container
                        *ngIf="column.type === 'text' && column.property != 'network_ip' && column.property != 'external_ip' && column.property != 'created_at' "
                        [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                            {{ row[column.property] }}
                        </td>
                    </ng-container>
                </ng-container>

                <!-- Created at column -->
                <ng-container matColumnDef="created_at">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        Created At
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        {{ formatDate(row.created_at) }}
                    </td>
                </ng-container>

                <!-- Network IP Column with Copy Icon -->
                <ng-container matColumnDef="network_ip">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        Network IP
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        {{ row.network_ip }}
                        <button (click)="copyToClipboard(row.network_ip)" mat-icon-button matTooltip="Copy Network IP">
                            <mat-icon svgIcon="mat:content_copy"></mat-icon>

                        </button>
                    </td>
                </ng-container>

                <!-- External IP Column with Copy Icon -->
                <ng-container matColumnDef="external_ip">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        External IP
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        {{ row.external_ip }}
                        <button (click)="copyToClipboard(row.external_ip)" mat-icon-button
                            matTooltip="Copy External IP">
                            <mat-icon svgIcon="mat:content_copy"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        Status
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
                            <div [ngClass]="[row.status.textClass, row.status.bgClass]"
                                class="rounded px-2 py-1 font-medium text-xs flex-none">
                                {{ row.status.text }}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="machine_type">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        Machine type
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
                            <div [ngClass]="[row.machine_type.textClass, row.machine_type.bgClass]"
                                class="rounded px-2 py-1 font-medium text-xs flex-none">
                                {{ row.machine_type.text }}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <!-- Label Column -->
                <ng-container matColumnDef="labels">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        Labels
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
                            <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]"
                                class="label-container">
                                <span *ngIf="!label.icon" class="text-align">{{ label.text }}</span>
                                <mat-icon *ngIf="label.icon" svgIcon="{{label.icon}}" class="icon-align"
                                    matTooltip="{{label.text}}"></mat-icon>
                            </div>
                            <!-- <div
                                class="bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
                                <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
                            </div> -->
                        </div>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                        <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ instance: row }"
                            [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr (click)="updateInstance(row)" *matRowDef="let row; columns: visibleColumns" @fadeInUp
                    class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer" mat-row></tr>
            </table>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
            </mat-paginator>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="mat-menu-item block">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-instance="instance" matMenuContent>
        <button (click)="confirmAction('start', instance)"
            [disabled]="instance?.status?.text.toLowerCase() === 'running'" mat-menu-item>
            <mat-icon svgIcon="mat:start"></mat-icon>
            <span>Start</span>
        </button>
        <button [disabled]="instance?.status?.text.toLowerCase() === 'stopped'"
            (click)="confirmAction('stop', instance)" mat-menu-item>
            <mat-icon svgIcon="mat:stop"></mat-icon>
            <span>Stop</span>
        </button>
        <button [disabled]="instance?.status?.text.toLowerCase() === 'stopped'"
            (click)="confirmAction('restart', instance)" mat-menu-item>
            <mat-icon svgIcon="mat:restart_alt"></mat-icon>
            <span>Restart</span>
        </button>
        <button (click)="confirmAction('terminate', instance)" mat-raised-button color="warn">
            <mat-icon svgIcon="mat:power_settings_new"></mat-icon>
            <span>Terminate</span>
        </button>
    </ng-template>
</mat-menu>