<vex-secondary-toolbar current="Dashboards">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="container p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <vex-widget-assistant class="sm:col-span-2"></vex-widget-assistant>

  <vex-widget-quick-line-chart [series]="pageViewsSeries" icon="mat:pageview"
    iconClass="text-primary-600 bg-primary-600/10" label="Used Bandwidth" value="12.8k"></vex-widget-quick-line-chart>

  <vex-widget-quick-line-chart [options]="uniqueUsersOptions" [series]="uniqueUsersSeries" icon="mat:pageview"
    iconClass="text-orange-600 bg-orange-600/10" label="Remaining Bandwidth" value="67.2k">
  </vex-widget-quick-line-chart>

  <vex-widget-large-goal-chart [series]="salesSeries" class="sm:col-span-full" total="4,374">
  </vex-widget-large-goal-chart>

  <vex-widget-quick-value-center [change]="124.4" icon="mat:data_usage" iconClass="text-primary-600 bg-primary-600/10"
    label="Network Traffic IN (KBps)" value="67.4"></vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="-23.7" icon="mat:data_usage" iconClass="text-orange-600 bg-orange-600/10"
    label="Network Traffic OUT (KBps)" value="96.2">
  </vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="23.2" icon="mat:storage" iconClass="text-orange-600 bg-orange-600/10"
    label="Disk throughput (KBps)" value="622.92">
  </vex-widget-quick-value-center>
  <vex-widget-quick-value-center [change]="34.5" icon="mat:storage" iconClass="text-teal-600 bg-teal/10"
    label="Disk IOPS" value="16"></vex-widget-quick-value-center>

  <vex-widget-large-chart [series]="userSessionsSeries" class="sm:col-span-full"></vex-widget-large-chart>

  <!-- <vex-widget-table [columns]="tableColumns" [data]="tableData" class="sm:col-span-2"></vex-widget-table> -->
</div>