.members {
  .avatar {
    border: 2px solid var(--vex-background-card);
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    @apply mt-1 -mr-2;

    &:last-child {
      margin-right: 0;
    }
  }
}

.labels {
  .label {
    @apply rounded text-xs mt-1 px-2 select-none h-8 min-w-[3rem] leading-[3rem] inline-flex items-center;

    &:last-of-type {
      padding: 0;
    }
  }
}

.content {
  max-height: 40vh;
}

@screen sm {
  .content {
    max-height: 50vh;
  }
}
