<form (ngSubmit)="save()" [formGroup]="form">
  <div class="mb-0 body-1" mat-dialog-title>
    <h2 class="title m-0 flex items-center">
      <mat-icon
        class="ltr:mr-1 rtl:ml-1 text-secondary flex-none"
        svgIcon="mat:assignment"></mat-icon>
      <input
        [class.border-primary-600]="!form.controls.title.value"
        class="border-2 border-solid border-transparent py-1 px-3 rounded focus:border-primary-600 focus:outline-none title bg-foreground flex-auto"
        formControlName="title" />
      <button
        cdkFocusInitial
        class="text-secondary"
        mat-dialog-close
        mat-icon-button
        type="button">
        <mat-icon svgIcon="mat:close"></mat-icon>
      </button>
    </h2>

    <div class="body-2 text-secondary ltr:ml-10 rtl:mr-10 flex items-center">
      <span>{{ board.label }}</span>
      <div class="w-1 h-1 mx-2 bg-gray-600 rounded-full"></div>
      <span>{{ list.label }}</span>
    </div>

    <div
      class="mt-3 ltr:ml-10 rtl:mr-10 flex flex-wrap items-start justify-between">
      <div class="members flex-1 relative">
        <div class="body-2 text-secondary">Members</div>
        <div class="flex items-center">
          <img
            *ngFor="let user of form.controls.users.value"
            [matTooltip]="user.name"
            [src]="user.imageSrc"
            class="avatar flex-none" />
          <div
            (click)="memberSelect.open()"
            class="avatar text-secondary bg-app-bar cursor-pointer flex-none flex items-center justify-center">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </div>
        </div>
        <mat-select
          #memberSelect="matSelect"
          class="invisible absolute text-sm"
          formControlName="users"
          multiple>
          <mat-option *ngFor="let user of users" [value]="user">
            <img
              [src]="user.imageSrc"
              class="avatar h-6 w-6 align-middle inline-block ltr:mr-2 rtl:ml-2" />
            <span>{{ user.name }}</span>
          </mat-option>
        </mat-select>
      </div>

      <div class="labels flex-1 relative">
        <div class="flex justify-end">
          <div>
            <div class="body-2 text-secondary">Labels</div>
            <div class="flex flex-wrap items-center gap-1">
              <div
                *ngFor="let label of form.controls.labels.value"
                [ngClass]="[label.bgClass, label.textClass]"
                class="label flex-none">
                {{ label.label }}
              </div>
              <div
                (click)="labelSelect.open()"
                class="label text-secondary bg-app-bar cursor-pointer mt-1 flex-none flex items-center justify-center">
                <mat-icon svgIcon="mat:add"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <mat-select
          #labelSelect="matSelect"
          class="invisible absolute text-sm"
          formControlName="labels"
          multiple>
          <mat-option *ngFor="let label of labels" [value]="label">
            <div class="flex items-center">
              <div
                [ngClass]="label.bgClass"
                class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"></div>
              <span>{{ label.label }}</span>
            </div>
          </mat-option>
        </mat-select>
      </div>
    </div>

    <mat-divider class="-mx-6 mt-6"></mat-divider>
  </div>

  <mat-dialog-content class="pb-6 content">
    <h2 class="body-2 font-medium m-0 mt-6 text-secondary flex items-center">
      <mat-icon
        class="ltr:mr-4 rtl:ml-4 flex-none"
        svgIcon="mat:description"></mat-icon>
      <span>Description</span>
    </h2>

    <div class="ltr:ml-10 rtl:mr-10 mt-3 flex flex-col">
      <mat-form-field appearance="outline" class="text-sm">
        <textarea
          cdkAutosizeMinRows="2"
          cdkTextareaAutosize
          formControlName="description"
          matInput
          placeholder="Add a description ..."></textarea>
      </mat-form-field>
    </div>

    <h2 class="body-2 font-medium m-0 text-secondary mt-4 flex items-center">
      <mat-icon
        class="ltr:mr-4 rtl:ml-4 flex-none"
        svgIcon="mat:attach_file"></mat-icon>
      <span class="flex-auto">Attachments</span>
      <button color="primary" mat-button type="button">
        <mat-icon
          class="ltr:mr-1 rtl:ml-1 ltr:-ml-1 rtl:-mr-1 icon-sm"
          svgIcon="mat:add"></mat-icon>
        <span>Add Attachment</span>
      </button>
    </h2>

    <div
      *ngIf="form.controls.attachments.value.length > 0"
      class="ltr:ml-10 rtl:mr-10 mt-3 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div
        *ngFor="let attachment of form.controls.attachments.value"
        class="border p-1 rounded flex items-center">
        <ng-container *ngIf="attachment">
          <div
            *ngIf="isImageExtension(attachment.extension)"
            class="bg-app-bar rounded ltr:mr-3 rtl:ml-3 w-24 h-16 overflow-hidden relative">
            <img [src]="attachment.path" class="object-cover w-full h-full" />
          </div>

          <div
            *ngIf="!isImageExtension(attachment.extension)"
            class="bg-app-bar p-1 rounded ltr:mr-3 rtl:ml-3 w-100 h-16 leading-none body-2">
            {{ attachment.extension }}
          </div>

          <div class="flex-auto">
            <h4 class="m-0 body-2 leading-snug text-secondary">
              {{ attachment.name }}
            </h4>
            <p class="m-0 caption leading-snug text-hint flex items-center">
              <mat-icon
                *ngIf="isCover(attachment)"
                class="icon-xs"
                svgIcon="mat:star"></mat-icon>
              <span>{{ attachment.size }}</span>
            </p>
          </div>

          <button
            [matMenuTriggerData]="{ attachment: attachment }"
            [matMenuTriggerFor]="attachmentMenu"
            class="text-secondary ltr:ml-1 rtl:mr-1"
            mat-icon-button
            type="button">
            <mat-icon svgIcon="mat:more_vert"></mat-icon>
          </button>
        </ng-container>
      </div>
    </div>

    <mat-divider class="-mx-6 mt-6"></mat-divider>

    <h2 class="body-2 m-0 pt-6 text-secondary flex items-center">
      <mat-icon
        class="ltr:mr-4 rtl:ml-4 flex-none"
        svgIcon="mat:insert_comment"></mat-icon>
      <span class="flex-auto">Comments</span>
    </h2>

    <div class="ltr:ml-10 rtl:mr-10 mt-2">
      <div *ngFor="let comment of form.controls.comments.value" class="mt-4">
        <ng-container *ngIf="comment">
          <div class="flex items-center">
            <img
              [src]="comment.from.imageSrc"
              class="avatar h-8 w-8 ltr:mr-3 rtl:ml-3" />
            <div>
              <h4 class="body-2 m-0 leading-snug">{{ comment.from.name }}</h4>
              <h5 class="caption text-secondary m-0 leading-snug">
                {{ comment.date | vexDateFormatRelative }}
              </h5>
            </div>
          </div>

          <p class="m-0 mt-2 caption text-secondary">{{ comment.message }}</p>
        </ng-container>
      </div>

      <div class="mt-6 flex items-center">
        <img
          class="avatar w-8 h-8 ltr:mr-3 rtl:ml-3 flex-none"
          src="assets/img/avatars/1.jpg" />
        <mat-form-field
          appearance="outline"
          class="flex-auto"
          subscriptSizing="dynamic">
          <input
            [formControl]="commentCtrl"
            matInput
            placeholder="Write a comment ..." />
          <button
            (click)="addComment()"
            color="primary"
            mat-button
            matIconSuffix
            type="button">
            Send
          </button>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
</form>

<mat-menu #attachmentMenu="matMenu">
  <ng-template let-attachment="attachment" matMenuContent>
    <button (click)="makeCover(attachment)" mat-menu-item>
      <mat-icon svgIcon="mat:image"></mat-icon>
      <span>Make Cover</span>
    </button>

    <button (click)="remove(attachment)" mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>
