.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Adjust height as necessary */
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    padding: 1rem;
}